@charset "utf-8";
.wrapper.homepage-style-1 {
    clear: both;
}
.copyrights,
.header-style-1 .header-nav,
.header-style-1,
.main-content{
	float:none;
}
.copyrights {
    margin-top: 0;
}
.login-wrapper {
    margin: 50px 0;
	min-height: 600px;
}
.main_div {
    min-height: 400px;
    margin: 40px 0;
}
.main-content.student_panel {
    /* margin: 40px 0; */
}
.student_panel .sidebar ul, .sidebar ol {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	list-style: none;
}
.student_panel .sidebar ul li{
	padding: 5px 0px 5px 10px;
	margin: 5px 5px 5px 0px;
	line-height: 14px;
}
.student_panel .sidebar ul li a{
	font-size: 11px;
    color: #000;
}
.student_panel .sidebar ul li i{
	margin-left: -13px;
}

.dropdown-menu.open > .dropdown-menu {
    display: block;
}
.layered-content {
    max-height: 390px;
    overflow-y: auto;
}
/*body .student_panel.login_page {*/
/*    background-color: rgb(36, 171, 186, 1.0);*/
/*    background-image: url(../../authen-live/assets/images/login-bg.png);*/
/*    background-attachment: fixed;*/
/*    height: 100%;*/
/*    max-height: 100%;*/
/*    min-height: 99%;*/
/*    overflow: hidden;*/
/*    width: 100%;*/
/*}*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: 700;
}
h6 {
    font-size: 16px;
}
h4 {
    font-size: 20px;
}
.error_pagenotfound {
    padding: 50px 30px 58px 30px;
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
    margin: 30px auto;
}
.error_pagenotfound b {
    display: block;
    font-size: 40px;
    line-height: 50px;
    color: #999;
    margin: 0;
    font-weight: 300;
}
.student_panel .welcome-title h1 {
    font-size: 30px;
    line-height: 41px;
    padding: 10px 0;
}

.outcomes-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.outcomes-box ul li {
    display: flex;
    margin-bottom: 10px;
    width: 45%;
    padding-left: 26px;
    font-size: 15px;
    position: relative;
}
.outcomes-box ul li:before {
    font-family: "FontAwesome-free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f00c";
    color: #a1a7b3;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 4px;
}

.requirements-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.requirements-box ul li {
    margin-bottom: 10px;
    padding-left: 26px;
    font-size: 15px;
    position: relative;
}
.requirements-box ul li:before {
    font-family: "FontAwesome-free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f00c";
    color: #a1a7b3;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 4px;
}
.course-sidebar-text-box {
    padding: 15px;
}
.course-sidebar-text-box .includes {
    margin-bottom: 15px;
}
.course-sidebar-text-box .includes ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.course-sidebar-text-box .includes ul li {
    font-size: 13px;
    padding: 3px;
}
.course-sidebar-text-box .includes ul li i {
    width: 19px;
    font-size: 12px;
}
.cart-icon-box .icon {
    position: relative;
}
.cart-icon-box .icon a {
    width: 45px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    color: #686f7a;
    border: 1px solid transparent;
    font-size: 18px;
}
.cart-icon-box .icon .number {
    position: absolute;
    top: 0;
    right: 2px;
    background-color: #F07C00;
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
    line-height: 1.43;
    min-width: 19px;
    padding: 2px 6px;
    text-align: center;
    pointer-events: none;
}
.wishlist-box .icon {
    position: relative;
}
.wishlist-box .icon a {
    width: 45px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    color: #686f7a;
    border: 1px solid transparent;
    font-size: 18px;
}
.wishlist-box .icon .number {
    position: absolute;
    top: 0;
    right: 2px;
    background-color: #F07C00;
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
    line-height: 1.43;
    min-width: 19px;
    padding: 2px 6px;
    text-align: center;
    pointer-events: none;
}
.payment-header-text {
    font-size: 23px;
}
.close-btn-light {
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    background-color: #F1EAE9;
    color: #a45e72;
    border-radius: 5px;
}
.float-left {
    float: left!important;
}
.float-right {
    float: right!important;
}
.payment-header {
    font-size: 18px;
}
.payment-gateway {
    border: 2px solid #D3DCDD;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px 0;
    cursor: pointer;
}
.payment-gateway:hover {
    border: 2px solid #00D04F;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

/*.item {*/
/*    width: 100%;*/
/*    display: block;*/
/*}*/
.count-item {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 100%;
    margin-right: 5px;
    margin-top: 8px;
    color: #00B491;
    background-color: #DEF6F3;
    border-radius: 5px;
}
.item-price {
    float: right;
    color: #00B491;
}
.indicated-price {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
/* .checkout .total-price { */
    /* border-radius: 0px 8px 8px 0px; */
    /* background-color: #CCD4DD; */
    /* padding: 10px; */
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    /* font-size: 18px; */
	/* display: inline-block; */
/* } */
/* .checkout .total { */
    /* border-radius: 8px 0px 0px 8px; */
    /* background-color: #DBF3F0; */
    /* padding: 10px; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    /* font-size: 18px; */
	/* display: inline-block; */
/* } */
.cart-sidebar .total-price {
    font-size: 30px;
    line-height: 49px;
    color: #F07C00;
    font-weight: 600;
}

.cart-sidebar .total {
    color: #686f7a;
    font-size: 18px;
}
.cart-sidebar .total-original-price {
    color: #686f7a;
    margin-bottom: 12px;
}

.offline-form{
	display: none;
}

.payment-gateway-icon-offline{
	height: 32px;
	float: right;
	margin-right: 25%;
}
.offline_payment_instruction{
	padding: 20px;
	min-height: 100px;
	width: 100%;
	background-color: #E6E9FC;
	margin-top: 10px;
	border-radius: 10px;
}

@media only screen and (max-width: 600px) {
	.payment-gateway {
		margin-left: 5px;
		width: 45%;
		display: inline-block;
		margin-right: 10px;
		}
	.logo img {
		width: 100%;
		height: auto;
	}
}
button.btn-style-1{
	display: inline-block;
	border: 1px solid #18254a;
	line-height: 48px;
	padding: 0 30px;
	color: #18254a;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	background: transparent;
}
button.btn-style-1:after  {
	background: #fa394a;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all .75s ease 0s;
	-moz-transition: all .75s ease 0s;
	-o-transition: all .75s ease 0s;
	transition: all .75s ease 0s
}
button.btn-style-1:hover  {
	color: #fff;
	border-color: #fa394a;
}
button.btn-style-1:hover:after {
	height: 450%;
}

button.btn-style-1 {
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

.event-excerpt .price .original-price ,
.course-sidebar-text-box .price .original-price {
    text-decoration: line-through;
}
.course-sidebar-text-box .price span {
    vertical-align: middle;
    color: #a1a7b3;
    margin-right: 10px;
}
.event-excerpt .price .current-price ,
.course-sidebar-text-box .price .current-price {
    color: #F07C00;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-right: 10px !important;
}
.curriculum-box .curriculum-body .panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.curriculum-box .curriculum-body .panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.curriculum-box .curriculum-body .panel-title {
	font-size: 14px;
}

.curriculum-box .curriculum-body .panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}

.curriculum-box .curriculum-body .right_side_data {
	float: right;
	color: #212121;
}

.curriculum-box .curriculum-body .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
.curriculum-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.curriculum-box ul .lecture:first-child{
    border-top: 1px solid #e8e9eb;
}
.curriculum-box .lecture {
    padding: 12px 30px 12px 45px;
    position: relative;
    border-bottom: 1px solid #e8e9eb;
    border-left: 1px solid #e8e9eb;
    border-right: 1px solid #e8e9eb;
    color: #686f7a;
}
.curriculum-box .lecture:before {
    font-family: FontAwesome-free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f144";
    position: absolute;
    left: 20px;
    opacity: 0.3;
    font-weight: 900;
    font-size: 13px;
    top: 17px;
}
.curriculum-box .lecture .lecture-title {
    width: 50%;
    display: inline-block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-webkit-transition: 0.3s;
}
.curriculum-box .lecture .lecture-time {
    width: 100px;
    text-align: right;
}
.curriculum-box.veiw_lesson ul .lecture:first-child{
    border-top: 1px solid #e8e9eb;
}
.curriculum-box.veiw_lesson .lecture {
    padding: 13px;
    position: relative;
    border-bottom: 1px solid #e8e9eb;
    border-left: 1px solid #e8e9eb;
    border-right: 1px solid #e8e9eb;
    color: #686f7a;
}
.curriculum-box.veiw_lesson .lecture:before {
    content: normal;
}
.curriculum-box.veiw_lesson .lecture .lecture-title {
    width: 100%;
    display: inline-block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-webkit-transition: 0.3s;
}
.curriculum-box.veiw_lesson .lecture .lecture-time {
    width: 100px;
    text-align: right;
}
.new-element{
	    width: 46px;
    position: absolute;
    top: -12px;
    left: 39px;
}
.course_header_col {
    background-color: #29303b;
    color: #fff;
    padding: 15px 10px 10px;
}
.course_header_col .course_btn {
    color: #95979a;
    border: 1px solid #95979a;
    padding: 10px;
	display: inline-block;
}
.course_header_col h5 {
    color: #fff;
    font-weight: 600;
    margin: 0;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.captcha-reload{
    width: auto !important;
    height: 30px;
    padding: 0px 8px;
    line-height: 0px !important;
    margin-left: 10px;
}

.math-captcha img {
    width: 23px;
}





/* custome */


.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}


.m-0 { margin:0!important; }
.m-1 { margin:.25rem!important; }
.m-2 { margin:.5rem!important; }
.m-3 { margin:1rem!important; }
.m-4 { margin:1.5rem!important; }
.m-5 { margin:3rem!important; }

.mt-0 { margin-top:0!important; }
.mr-0 { margin-right:0!important; }
.mb-0 { margin-bottom:0!important; }
.ml-0 { margin-left:0!important; }
.mx-0 { margin-left:0 !important;margin-right:0 !important; }
.my-0 { margin-top:0!important;margin-bottom:0!important; }

.mt-1 { margin-top:.25rem!important; }
.mr-1 { margin-right:.25rem!important; }
.mb-1 { margin-bottom:.25rem!important; }
.ml-1 { margin-left:.25rem!important; }
.mx-1 { margin-left:.25rem!important;margin-right:.25rem!important; }
.my-1 { margin-top:.25rem!important;margin-bottom:.25rem!important; }

.mt-2 { margin-top:.5rem!important; }
.mr-2 { margin-right:.5rem!important; }
.mb-2 { margin-bottom:.5rem!important; }
.ml-2 { margin-left:.5rem!important; }
.mx-2 { margin-right:.5rem!important;margin-left:.5rem!important; }
.my-2 { margin-top:.5rem!important;margin-bottom:.5rem!important; }

.mt-3 { margin-top:1rem!important; }
.mr-3 { margin-right:1rem!important; }
.mb-3 { margin-bottom:1rem!important; }
.ml-3 { margin-left:1rem!important; }
.mx-3 { margin-right:1rem!important;margin-left:1rem!important; }
.my-3 { margin-bottom:1rem!important;margin-top:1rem!important; }

.mt-4 { margin-top:1.5rem!important; }
.mr-4 { margin-right:1.5rem!important; }
.mb-4 { margin-bottom:1.5rem!important; }
.ml-4 { margin-left:1.5rem!important; }
.mx-4 { margin-right:1.5rem!important;margin-left:1.5rem!important; }
.my-4 { margin-top:1.5rem!important;margin-bottom:1.5rem!important; }

.mt-5 { margin-top:3rem!important; }
.mr-5 { margin-right:3rem!important; }
.mb-5 { margin-bottom:3rem!important; }
.ml-5 { margin-left:3rem!important; }
.mx-5 { margin-right:3rem!important;margin-left:3rem!important; }
.my-5 { margin-top:3rem!important;margin-bottom:3rem!important; }

.mt-auto { margin-top:auto!important; }
.mr-auto { margin-right:auto!important; }
.mb-auto { margin-bottom:auto!important; }
.ml-auto { margin-left:auto!important; }
.mx-auto { margin-right:auto!important;margin-left:auto!important; }
.my-auto { margin-bottom:auto!important;margin-top:auto!important; }

.p-0 { padding:0!important; }
.p-1 { padding:.25rem!important; }
.p-2 { padding:.5rem!important; }
.p-3 { padding:1rem!important; }
.p-4 { padding:1.5rem!important; }
.p-5 { padding:3rem!important; }

.pt-0 { padding-top:0!important; }
.pr-0 { padding-right:0!important; }
.pb-0 { padding-bottom:0!important; }
.pl-0 { padding-left:0!important; }                             
.px-0 { padding-left:0!important;padding-right:0!important; }
.py-0 { padding-top:0!important;padding-bottom:0!important; }

.pt-1 { padding-top:.25rem!important; }         
.pr-1 { padding-right:.25rem!important; }                       
.pb-1 { padding-bottom:.25rem!important; }      
.pl-1 { padding-left:.25rem!important; }                            
.px-1 { padding-left:.25rem!important;padding-right:.25rem!important; }
.py-1 { padding-top:.25rem!important;padding-bottom:.25rem!important; }

.pt-2 { padding-top:.5rem!important; }                                              
.pr-2 { padding-right:.5rem!important; }                                
.pb-2 { padding-bottom:.5rem!important; }               
.pl-2 { padding-left:.5rem!important; }                                             
.px-2 { padding-right:.5rem!important;padding-left:.5rem!important; }
.py-2 { padding-top:.5rem!important;padding-bottom:.5rem!important; }

.pt-3 { padding-top:1rem!important; }                               
.pr-3 { padding-right:1rem!important; }             
.pb-3 { padding-bottom:1rem!important; }                
.pl-3 { padding-left:1rem!important; }                              
.py-3 { padding-bottom:1rem!important;padding-top:1rem!important; }
.px-3 { padding-right:1rem!important;padding-left:1rem!important; }

.pt-4 { padding-top:1.5rem!important; }                             
.pr-4 { padding-right:1.5rem!important; }               
.pb-4 { padding-bottom:1.5rem!important; }              
.pl-4 { padding-left:1.5rem!important; }                                
.px-4 { padding-right:1.5rem!important;padding-left:1.5rem!important; }
.py-4 { padding-top:1.5rem!important;padding-bottom:1.5rem!important; }

.pt-5 { padding-top:3rem!important; }   
.pr-5 { padding-right:3rem!important; } 
.pb-5 { padding-bottom:3rem!important; }    
.pl-5 { padding-left:3rem!important; }  
.px-5 { padding-right:3rem!important;padding-left:3rem!important; }
.py-5 { padding-top:3rem!important;padding-bottom:3rem!important; }

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.event-box .event-thumb {
    height: 189px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.invoice .table th,
.invoice .table td {
	/* margin:0; */
	/* padding:0; */
}
.event-description {
	min-height: inherit;
    max-height: inherit;
}
.event-description p {
   /*white-space: nowrap;*/
  width: 95%;
  /*text-overflow: ellipsis;*/
  line-height: 18px;
  max-height: 58px;
  overflow: hidden;
}
.event-excerpt h6 a{
	text-transform: capitalize;
	color: #767676;
}
.event-excerpt .price {
    font-size: 16px;
    text-align:left;
}
.event-excerpt .price .current-price, 
.course-sidebar-text-box .price .current-price {
    color: #F07C00;
    font-size: 20px;
	margin-right: 0;
}

.cdetail {
    line-height: 40px;
    padding: 0 15px;
}
.h1-welcome,
.welcome-title {
    margin-bottom: 40px;
}
.preview-video-box {
    position: relative;
}
.course-sidebar {
    /* margin-top: -100px; */
}


.preview-video-box .preview-text {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    text-align: center;
    height: auto;
    font-size: 15px;
    font-weight: 700;
	color: #fff;
}

.preview-video-box .play-btn {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/icon-play.svg) no-repeat;
    background-size: auto 50%;
    background-position: 50%;
    visibility: visible;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    -moz-transition: -moz-transform .15s ease-in-out;
    -o-transition: -o-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
}

.preview-video-box a:hover > .play-btn {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
.course-preview-modal .close {
	position: absolute;
    top: -20px;
    right: -20px;
    z-index: 9999999;
    color: #ffffff;
    background: #000;
    opacity: 1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 20px;
}

#fb5 #fb5-book {
    /* top: 20px; */
}
#fb5-ajax .fb5-bcg-book {
    opacity: 1;
    background-image: none;
    background: #444343;
}
#fb5 #fb5-container-book {
    /* padding: 30px 0; */
    padding: 0;
}
.video_box {
    text-align: center;
}
button.ytp-button.ytp-copylink-button.ytp-show-copylink-title.ytp-copylink-button-visible {
    display: none;
}
.orientation-div { display: none; }
@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 900px) {
	#fb5 #fb5-container-book {
		/* padding: 30px 0; */
	}
	html .orientation-div {
	    display: -webkit-box!important;
	    display: -ms-flexbox!important;
	    display: flex!important;
	    pointer-events: auto;
	    position: fixed;
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    min-height: 100vh;
	    background: #008ecc;
	    z-index: 9999999999;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	html .orientation-div .orientation {
	    width: 80%;
	    display: -webkit-box!important;
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}

	html .orientation-div .orientation .content {
	    font-size: 18px;
	    color: #fff;
	    text-align: center;
	    display: block!important;
	}
	html .orientation-div .orientation .content img {
	    width: 35%;
	    margin-bottom: 25px;
	}
	html .orientation-div .orientation .alert-text {
    	font-size: 14px;
	    color: #fff;
	    text-align: center;
	    display: block!important;
	    padding-top: 13px;
	}
}


.event-excerpt h6 {
    min-height: auto;
    font-size: 14px;
    line-height: 18px;
    max-height: auto;
    margin-bottom:8px;
    overflow: hidden;
}
.student_panel .sidebar ul li label {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.copyrights {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.h1-welcome {
    margin-bottom: 100px;
}
.event-box .event-footer {
    height: 53px;
}
.display_mobile{
	display:none;
}
.page-detail{
	text-align: justify;
	margin-bottom: 50px;
}
.requirements-box .panel-body ,
.curriculum-box .panel-body ,
.outcomes-box .panel-body {
    text-transform: uppercase;
	}

html,
body {
  font-size: 15px;
  color: #505050;
  font-family: 'Rubik', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}
.overflow-text {
  display: -webkit-box;           
  -webkit-line-clamp: 4;          
  -webkit-box-orient: vertical;   
  overflow: hidden;              
  text-overflow: ellipsis;       
}
.onlineCrs .event-thumb img {
    border: 1px solid #f1eded;
}


.btnCol{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.btnCol .btn{
    padding: 11px 5px;
  font-size: 17px;
  line-height: 15px;
  height: 40px;
}
.btnCol .btn-buy-now{
    margin-top:0;
}

.chkBtn{
  background-color: #F07C00;
  color: #fff;    
  border:1px solid transparent;
}
.chkBtn:hover{
  background-color: transparent;
    border:1px solid #F07C00;
    color:#F07C00;
}



.student_panel .panel-default > .panel-heading{
    background-color:#F07C00;
    color:#fff;
    border-top-right-radius: 21px;
    border-top-left-radius: 0;
}
.student_panel .course-sidebar{
    border:1px solid #F07C00;
}
.student_panel .btn.btn-defaul.btn-block{
    background-color:#F07C00;
    color:#fff; 
} 
.student_panel .btn-add-wishlist{
    background-color:#009035;
    border-color:#009035;
}
.student_panel .btn-buy-now{
    background-color:#f0ad4e;
    border-color:#f0ad4e;
}
.student_panel .btn-buy-now:hover{
    background-color:#fff;
    border-color:#f0ad4e;
    color:#f0ad4e;
}

